<div class="topnav">
    <a >Show</a>
  <input type="number" value="0" id="userN">

<img src="assets/Image/—Pngtree—search vector icon_4015255.png" alt="">

    <input type="text" placeholder="Search..">

  </div>
  <body>
    <div class="table_header">

        <p>  Blocked Merchants </p> 
        <div>
            <button  class="valider"  routerLink="/Menu/Merchant"><i class="fa-solid fa-backward"></i> RETOUR</button>
        </div>
        </div>
    <div class="table">
  
  
       
         <div class="table_section">
          <table>
               <thead>
                   <tr>
                      <th>User_ID</th>
                      <th>Full Name</th>
                      <th>Email</th>
                      <th>Status</th>
                      <th>Role_User</th>
                      <th>Action</th>
                      <th> accès</th>
  
                      
                   </tr>
               </thead>
               <tbody>
                     <tr>
                      <td>IU87995</td>
                      <td>Oussama tajedddine</td>
                      <td>Oussama@gmail.com</td>
                      <td>Active</td>
                      <td>Gestion_Merchants</td>
                    
                      <td>
                        <button><i class="fa-solid fa-pen-to-square"></i></button>
                        <button><i class="fa-sharp fa-solid fa-trash"></i></button>
                      </td>
                      <td ><button class="blocker"><i class="fa-solid fa-lock"></i>  unlock</button></td>
                         
                     </tr>
                 
               </tbody>
             
          </table>
        

         </div>
    </div></body>
  
