*{
    margin:0;
    padding: 0;
    background-color:rgba(252, 253, 253, 0.575);
}

.main{
   
    
   
   margin-top: 5%;
  
}
.nav {
   
    top: 0;
    width: 100%;
    background-color: #39da61;
    color: #000000;
    
    display: flex;
    align-items: center;
    height: 60px;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  
    
  }
  .nav p{
    background-color: transparent;
    margin-top: 1%;
    margin-left: 1%;
  }
  .btn-group{
    margin-left: 5%;
   margin-right: 5%;
   margin-top: 0.1%;
   
   
    background: none;
   
  }
  .btn-group button{
    background-color:transparent;
    color: black;
    border-color:transparent;
  }
 img{
    margin-top: 0%;
    margin-left: 3%;
    height: 90%;
    margin-right: 0;
    width: 90%;
    border-radius: 7%;
    border-color: #39da61;
    border-style:double;
  }

  .Discription{
    width: 60%;
    background-color: none;
    height: 40%;
    
    margin-top: 0%;
  }
  .Discription p{
   text-align: start;
   padding-top: 0;
    height: 25%;
    width: 100%;
    background: transparent;
    
  }
  .all{
    margin-top: 5%;
    margin-right: 10%;
    display: flex;
  }
  .imageDiscription{
    margin-right: 10%;
    justify-content: space-between;
    width: 90%;
    height: 60%;
  }
  .image2{
    margin-top: 0%;
    margin-top: -20%;
    margin-left: 1.7%;
    height: 30%;
    margin-right: 9%;
    width: 53%;
    
  }
  i{
    margin-top: 2%;
    background: none;
    color: black;
    margin-right: 5%;
  }
  .Partenaires{
    margin-top: 0%;
    
  }

 
  .Partenaires img{
  
    width: 20%;
    height: 20%;
   
  }
  h1{
   
    padding-top: 8%;
  }