<div class="body" > 
    <div class="nav">
        <p>BAYASSUR</p>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
           
          
            <div class="btn-group" role="group">
              <i class="fa-solid fa-user fa-beat-fade" ></i><button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Particulier
              </button>
              <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                <li><a class="dropdown-item" href="#">Dropdown link</a></li>
              </ul>
            </div>
            <div class="btn-group" role="group">
              <i class="fa-solid fa-building-columns fa-beat-fade"></i><button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Entreprise
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
              </div>
              <div class="btn-group" role="group">
                <i class="fa-solid fa-people-roof fa-beat-fade"></i> <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                 Affiliation
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
              </div>
              <div class="btn-group" role="group">
                <i class="fa-solid fa-hand-holding-hand fa-beat-fade"></i> <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                 Association
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
              </div>
              <div class="btn-group" role="group">
                <i class="fa-solid fa-handshake fa-beat-fade"></i><button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Social
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
              </div>
              <div class="btn-group" role="group">
                <i class="fa-solid fa-envelope fa-beat-fade"></i><button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Contact
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
              </div>
              <div class="btn-group" role="group">
                <i class="fa-solid fa-user-plus fa-beat-fade"></i><button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Espace Client
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                  <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                </ul>
              </div>
          </div>
      </div>

      <div class="main">
        <div class="all">  

            <div class="imageDiscription">
                <img src="../assets/images/Bayassurance1.jpg">
                
                  <img src="../assets/images/Bayassurance2.jpg" style="margin-top: 14%;"></div>


            <div class="Discription">
               
            <h1>Pésentation de BAYASSUR :</h1>
            <p>
            BAYASSUR est un courtier en assurances basé à Témara au Maroc, c’est un intermédiaire entre les compagnies d’assurances et son client, il conseille et accompagne le client dans ses recherches pour l’aider à trouver le produit le plus adapté à son profil et qui répond à ses besoins. 
            </p>
            
            <h1>principales missions :</h1>  
            <p>
            1.	Aider les clients à choisir le bon produit d’assurance <br>et les compagnies d’assurance à vendre leurs produits.<br>
            2.	Effectue un suivi régulier des contrats des clients.<br>
            3.	Gérer les sinistres et les réclamations de nos clients <br>
        </p>
           <h1> NOTRE ÉQUIPE :</h1>
           <p>
            •	Manager ; Courtier Responsable<br>
            •	Equipe Commercial : 4 Collaborateurs<br>
            •	Equipe Sinistre : 2 Collaborateurs<br>
            •	Equipe gestion et Support : 5 Collaborateurs<br>
            •	Responsable de recouvrement
        </p>
        
          <h1>Nos Partenaires:</h1>
          <div class="Section">
          <div class="Partenaires">
            <img src="../assets/images/africaassite.png">
            <img src="../assets/images/atalantaassurance.png">
           
            <img src="../assets/images/sanlam.png">
            <img src="../assets/images/wafaassurance.png">
          </div>
          <div class="Partenaires">
            <img src="../assets/images/RMA.png">
            <img src="../assets/images/CAtassurance.png">
           
            <img src="../assets/images/MAtuassurance.png">
            <img src="../assets/images/Marocassist.jpeg">

          </div>
          <div class="Partenaires">
            <img src="../assets/images/wafaima.gif">
            <img src="../assets/images/rmaassistance.png">
           
            
          </div>
        </div>
    </div>

      
     
      </div>
     
      
        
    </div>    
  
</div>
